<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <style>
    @page {
      size: 4in 6in;
      margin: 1cm;
    }
    body {
      font-family: "Sarabun", sans-serif;
      font-size: 16pt;
      color: #000;
    }
    .header {
      font-size: 24pt;
      font-weight: bold;
    }
    .line {
      border-bottom: 1px solid #000;
      margin: 0.3em 0 1em 0;
    }
    .content {
      white-space: pre-line;
    }
  </style>
</head>
<body>
  <div class="header">ผู้จัดส่ง M&amp;M TOYS SHOP<br>TEL : 087-337-2425</div>
  <div class="line">_________________________</div>
  <div class="content">
    <%= fulltext %>
  </div>
</body>
</html>
